<div  class="row tab-option" *ngIf="web3.connected">
  <div class="col-md-4"></div>

  <div class="col-md-4">
    <mat-card>
      <div class="row">
        <div class="col-md-12">
          <mat-form-field appearance="outline">
            <mat-label>Select Token In</mat-label>
            <mat-select (selectionChange)="dex.updateSwap(0, $event.value)" #token0>
              <mat-option *ngFor="let token of dex.tokenList0" [value]="token">{{ token.name }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="col-md-12">
          <mat-form-field appearance="outline">
            <mat-label>Select Token Out</mat-label>
            <mat-select (selectionChange)="dex.updateSwap(1, $event.value)" #token1>
              <mat-option *ngFor="let token of dex.tokenList1" [value]="token">{{ token.name }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="col-md-12">
          <mat-form-field appearance="outline">
            <input
            type="number"
            matInput
            placeholder="{{ token0.value ? 'Amount ' + token0.value?.name  : '' }}:"
            [disabled]="!token0.value || !token1.value" #inputAmount>
          </mat-form-field>
        </div>
      </div>

      <div class="col-md-12 clearfix">
        <mat-spinner diameter="25" *ngIf="(dex.loading | async) == true"></mat-spinner>
        <button
          mat-raised-button
          color="primary"
          class="float-right"
          (click)="setSwap(token0.value, inputAmount.value)"
          [disabled]="!token0.value || !token1.value || !inputAmount.value">
            Quote
        </button>
      </div>
    </mat-card>

  </div>

  <div class="col-md-4"></div>
</div>

<div class="row">
  <div class="col-md-4"></div>

  <div class="col-md-4">
    <div class="row">
      <div class="col-md-12 swap-path" *ngFor="let path of pathResults; let j = index">

          <span class="path-token" *ngFor="let token of path; let i = index;">
            {{ token.name }}
            <span>
              ->
            </span>
          </span>

          <span class="bold" style="color: black;">
            <i>
              {{ dex.currentPathResults[j] }}
            </i>
          </span>
      </div>
    </div>
  </div>

  <div class="col-md-4"></div>
</div>
