<mat-toolbar>
  <div class="clearfix toolbar-div">
    <span>Quartz Zapper</span>
    <span class="float-right">
      <defi-connect-wallet-button></defi-connect-wallet-button>
    </span>
  </div>
</mat-toolbar>
<div class="container-fluid">

  <mat-tab-group *ngIf="web3.connected" dynamicHeight="true">
    <mat-tab label="DEX">
      <ng-template matTabContent>
        <quartz-token-swap></quartz-token-swap>
      </ng-template>
    </mat-tab>

    <mat-tab label="Zaps">
      <ng-template matTabContent>
      <defi-zaps-container></defi-zaps-container>
    </ng-template>
    </mat-tab>

    <mat-tab label="Vaults">
      <ng-template matTabContent>
        Vaults Container
      </ng-template>
    </mat-tab>
  </mat-tab-group>


  <div class="row zaps" *ngIf="!web3.connected">
    <div class="col-md-12">
      <defi-connect-wallet-button></defi-connect-wallet-button>
    </div>
  </div>
</div>
