/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
  background-color: #f7f7d5;
  color: #ccc;
}

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.bold {
  font-weight: bold;
}

.cursor {
  cursor: pointer;
}

// rgb(0, 174, 233);

.zappadoo {
  border: 1px solid lightgray;
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 4px;

  button {
    margin-left: 5px;
  }

  mat-form-field {
    width: 100%;
  }
}

.zap-header {
  border: 1px solid lightgray;
  border-radius: 5px;
  padding: 5px;
}

.toolbar-div {
  width: 100%;
}

.tab-option {
  padding: 1rem;
}
